/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap'); */

/* Variables  */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* body stylings  */

body {
    margin:auto;
    margin-top: 10%;
    font-family: 'Spartan';
    font-size: 15px;
}

h1, .statement {
    color: var(--very-dark-magenta);
    text-align: center; 
    margin: auto;
    width:80%;
    padding:5%;
}

/* star cards  */
.review {
    background-color: var(--light-grayish-magenta); 
    color: var(--very-dark-magenta);
    text-align: center;
    margin: auto;
    width:85%;
    font-weight:700;
    border-radius: 5px;
    
}

.row-stars { 
    padding-top:20px;
}
.review p {
    padding-bottom: 20px;
}

/* review cards */
.review-card {
    max-width:80%;
    background-color: var(--very-dark-magenta);
    margin:5px;
    border-radius:5px;
    padding:30px;

}
.buyer{
    display:flex;
    /* height:75px; */
    padding:15px;
}
.test{
    display:block;
    margin-left:15px;
    padding-left:5px;
} 
.name  {
 color: white;
}
.title{
    color:var(--soft-pink)
}
.profile{
    display:block;
    border-radius:100%;
}
/* SMALL SCREENS  */