/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap'); */

/* Variables  */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* body stylings  */

body {
    font-family: 'Spartan';
    font-size: 15px;
}

h1 {
    color: var(--very-dark-magenta) 
}

/* star cards  */
.review {
    background-color: var(--light-grayish-magenta);
    font-weight:700;
}

/* review cards */
.review-card {
    background-color: var(--very-dark-magenta);
    margin:5px;
    border-radius:5px;
    padding:30px;;
}
.buyer{
    display:flex;
    /* height:75px; */
    padding:15px;
}
.test{
    display:block;
    margin-left:15px;
} 
.name  {
 color: white;
}
.title{
    color:var(--soft-pink)
}
.profile{
    display:block;
    border-radius:100%;
}
/* SMALL SCREENS  */