/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap'); */

/* Variables  */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%),
    --light-grayish-magenta: hsl(300, 24%, 96%),
    --white: hsl(0, 0%, 100%),
}

/* body stylings  */

body {
    font-family: 'Spartan';
    font-size: 15px;
}

h1 {
    color: var(--very-dark-magenta) 
}