/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap'); */

/* Variables  */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* body stylings  */

body {
    margin:auto;
    margin-top: 10%;
    font-family: 'Spartan';
    font-size: 15px;
    width:100%;
}

h1, .statement {
    color: var(--very-dark-magenta);
    text-align: center; 
    margin: auto;
    width:80%;
    padding:5%;
}

/* star cards  */
.review {
    background-color: var(--light-grayish-magenta); 
    color: var(--very-dark-magenta);
    text-align: center;
    margin: auto;
    width:85%;
    font-weight:700;
    border-radius: 5px;
    
}

.row-stars { 
    padding-top:20px;
}
.review p {
    padding-bottom: 20px;
}

/* review cards */
.testimonial-section{
    width:85%;
    margin: auto;
}

.review-card {
   
    background-color: var(--very-dark-magenta);
    margin-bottom: 20px;
    border-radius:5px;
    padding:30px;

}
.buyer{
    display:flex;
    /* height:75px; */
    padding:15px;
    margin-bottom:10px;
}
.test{
    display:block;
    margin-left:15px;
    padding-left:5px;
} 
.name  {
 color: white;
}

.testimonial { 
    color:white;
}

.title{
    color:var(--soft-pink)
}
.profile{
    display:block;
    border-radius:100%;
}
/* SMALL SCREENS  */

/* LARGE SCREENS */
@media only screen and (min-width: 1000px) {
    .top {
        width:85%;
        margin: auto;
      background-color: lightblue;
      display: flex; 
      /* padding-bottom: 100px; */

    }
    .attention  {
        width:50%;
    }
    .ratings {
        width:50%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .review {
        display: flex;
        width: 75%;
        margin-top: auto;
        margin-bottom: 1em;
    }
    .review .row-stars {
        padding-bottom: 10px;
        padding-top: 10px;
        margin:auto 0 auto 2rem;    
    }
    .review p{
        padding-top:10px;
        padding-bottom: 10px;
        margin:0 auto 0 2rem;
    }
    .left{
        margin-left:3em;
    }
    .right{
        margin-right: 3em;
    }

    /* testimonials */
    .testimonial-section{
        width:85%;
        display:flex;
        height: 450px;
    }
    .review-card{
        width: 25%;
        height:250px;
       
    }
    .testimonial{
        line-height:1.5em ;
    }
}